.card {
  background-image: url(../../assets/card-img1.jpg);
  background-size: cover;
  border-radius: 0.5rem;
  color: var(--color-white);
  max-width: 35ch;
  padding: 10rem 0 0;
  overflow: hidden;
  transition: var(--transition);
}
.card-content {
  /* Locally scoped variable */
  --padding: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(0 0% 0% /0.3) 20%,
    hsl(0 0% 0% /1)
  );
}
.card-title {
  position: relative;
  align-self: center;
  width: max-content;
  font-size: 1.5rem;
  margin: var(--padding);
}
.card-title::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: 0;
  height: 4px;
  width: calc(100% + 2 * var(--padding));
  background: var(--color-primary);
}
.card-body {
  color: rgba(255, 255, 255, 0.8);
}
.card-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.card-icon > a {
  --size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background: var(--color-primary);
  background-size: cover;
  border-radius: 50%;
  transform: translateX(-20%);
  font-size: 2rem;
}
.card-icon > a {
  color: rgba(255, 255, 255, 0.8);
}
.card-icon > h3 {
  font-size: 1rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.1em;
}
.edu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.edu > h3 {
  font-size: 1rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.1em;
}
