.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
  gap: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100ch;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 0.5rem 0;
  width: max-content;
  background: var(--color-nav);
  padding: 1rem 1.5rem;
}
.form-input {
  width: 80%;
  height: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}
.message {
  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 0 0.5rem 0.5rem 0;
}
.content__container {
  align-items: center;
  justify-content: center;
  height: fit-content;
  color: var(--color-logo);
  border: 1px solid var(--color-primary);
}
@media screen and(max-width:1024px) {
  .contact__container {
    flex-direction: column;
  }
}
@media screen and(max-width:600px) {
  .contact-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
