#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 12rem;
}
.name {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}
.name > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.name > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
}

.title {
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}
.title a:first-child {
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 0.3rem;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.title > a:first-child:hover {
  color: var(--color-logo);
}

/* .title > a:first-child:hover .title > a:first-child::after {
  transform: translateX(0%);
  opacity: 0;
} */

.title a:nth-child(2) {
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 0.3rem;
  font-size: 1.5rem;
  color: var(--color-logo);
}
.title > a:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  bottom: -0.2rem;
  height: 3px;
  width: 9.5rem;
  background: var(--color-primary);
  /* transform: translateX(-100%);
  opacity: 0; */
  transition: var(--transition);
}
.title > a:nth-child(2):hover {
  color: var(--color-primary);
}
/* .title > a:hover .title > a:nth-child(2)::after {
  transform: translateX(100%);
  opacity: 1;
} */
.title a:nth-child(3) {
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding: 0.3rem;
  font-size: 1.5rem;
  color: var(--color-logo);
}
.title > a:nth-child(3):hover {
  color: var(--color-primary);
}
.title > a:nth-child(3)::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  bottom: -0.2rem;
  height: 3px;
  width: 8rem;
  background: var(--color-primary);
  /* transform: translateX(-100%);
  opacity: 0; */
  transition: var(--transition);
}
/* .title > a:hover .title > a:nth-child(2)::after {
  transform: translateX(100%);
  opacity: 1;
} */

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding-right: 1rem;
  padding-left: 3rem;
}
.img__container {
  display: block;
  width: 30rem;
  height: auto;
  /* margin: 0 1rem; */
  margin-top: 4rem;
  overflow: hidden;
}
.header__socials {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__socials::after {
  position: absolute;
  left: 50%;
  top: 100%;
  content: " ";
  width: 2px;
  height: 4rem;
  background: var(--color-primary);
}

.header__socials > a {
  display: block;
  color: var(--color-primary);
}

.header__socials > a:hover {
  color: var(--color-logo);
}
@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .section {
    margin-bottom: 5rem;
    background: url(../../assets/HomeImage.svg);
  }
  .header__socials {
    flex-direction: row;
    margin: 1rem;
    display: none;
  }
  .header__socials > a {
    margin-left: 1rem;
  }
  .header__container {
    margin-top: 3rem;
  }
  .img__container {
    display: none;
  }
  .header__socials::after {
    display: none;
  }
  .buttons {
    margin-top: 1.5rem;
  }
  .title > a::after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__container .title > a {
    font-size: 1rem;
    letter-spacing: 0;
  }
}
