nav {
  background: var(--color-nav);
  width: max-content;
  display: block;
  padding: 0.7rem 1.2rem;
  z-index: 100;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 3rem;
  backdrop-filter: blur(1rem);
}
nav a {
  background: transparent;
  padding: 0.7rem;
  border-radius: 50%;
  display: flex;
  font-size: 1.5rem;
  color: var(--color-primary);
}
nav a:hover {
  background: var(--color-navactive);
}
nav a.active {
  background: var(--color-navactive);
  color: var(--color-primary);
}
